.active {
  color: #fff;

  /* font-family: Montserrat; */
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 500;
  font-weight: bold;
  text-align: right;
  padding-bottom: 0;
  color: #f26924;
}

@media (max-width: 567px) {
  .active {
    color: black;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #f26924;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    margin-left: auto;
    }
}
